@mixin bottom_image_style($w,$h,$pl,$pt)
{

    width: $w;
    height: $h;
    padding-left: $pl;
    padding-top: $pt;

}
.bottom_div {
  width: 100%;
  position: relative;
  float: left;
  height: 774px;
  background-color: #323339;

}

.bottom_transparent_div {
  height: 318px;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.5);
}

.bottom_img_container_transparent_div {
  display: block;
  width: 23.67%;
  height: 50%;
  float: left;
  margin-top: 4.9%;
  margin-left: 11%;
  margin-right: -7.7%;
  text-align: center;

  #bot1 {
      max-width: 100%;
      height: 100%;
  }
  #bot2{
    @include bottom_image_style(53%,89%,2%,1%);
  }
  #bot3{
    @include bottom_image_style(36%,auto,0,1%);
  }
}



.bottom_info_div {
  height: 456px;
  width: inherit;
  /*background-color: red;*/
}

.bottom_info_left_div {
  width: 56%;
  height: 330px;
  float: left;
  margin-left: 6%;
  margin-top: 5%;
}

.bottom_info_left_border_div {
  width: 98%;
  height: 0.5%;
  margin-left: 2%;
  background-color: white;
}

.bottom_info_left_text_div {
  width: 89%;
  height: 65%;
  margin-left: 11%;
  /*background-color: blue;*/

}
.up_conteiner{
  width: 100%;
  height: 20px;
}
#v1{
  margin-right: 18%;
}
#v2{
  margin-right: 10%;
}
#v3{
  margin-right: 17.5%;
}
#v4{
  margin-right: 0;
}
.bottom_info_left_title_text_block_div {
  display: block;
  float: left;
  margin-left: 1.6%;

  color: red;

  .text{
    font-family: 'Montserrat',sans-serif;
    /* font-weight: 400; */
    font-size: 68%;
    letter-spacing: 1px;
  }
}

.bottom_info_left_text_block_div {
  width: 25%;
  height: auto;
  float: left;
  color: white;
}

.bottom_info_left_list_container_div {
  float: left;
  margin-top: 1.8%;
  margin-right: 7.7%;
  margin-left: 2%;
}

#bil3{
  margin-right: 0;
  margin-left: 0;
  width: 23%;
  ul{
    margin-left: 17%;
  }
}
#bil4{
  margin: 0;
  margin-left: 6.3%;
  margin-top: 1.7%;
}
.bottom_info_left_list_container_div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.bottom_info_left_list_container_div li {
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 72%;
  color: white;
  line-height: 234%;

}

.bottom_info_left_list_container_tittle {
  color: red;

}

.bottom_info_left_icon_div {
  width: 52%;
  height: 18%;
  float: left;
  margin-left: 33%;
  margin-top: 3.5%;
  /* background-color: blueviolet;*/
}

.bottom_info_left_icon_div img {
  max-width: 100%;
  height: 100%;
}

.bottom_info_right_div {
  width: 29%;
  height: 74%;
  float: left;
  margin-left: 4%;
  margin-top: 4%;
  /*background-color: rebeccapurple;*/
}

.bottom_info_right_img_container_div {
  height: 43%;
  width: 73%;
  float: left;
  margin-left: 11%;
  margin-top: 4.5%;
  /*background-color: aqua;*/

}

.bottom_info_right_img_container_div img {
  max-width: 100%;
  height: auto;
}

.bottom_info_right_text_div {
  width: 91%;
  position: relative;
  margin-left: 11%;
  top: 3%;
}

.bottom_info_right_text_div p {
  width: inherit;
  float: left;
  margin-top: 8%;
  margin-bottom: -6%;
  color: white;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  font-size: 79%;
  line-height: 175%;
}