$isHover:false;
.galeria{
  position: absolute;
  width: 100%;
  height: 1000px;
  z-index: -1;
  &:hover{
    $isHover:true;
  }
}
.first_div {
  width: inherit;
  height: 1681px;
  //position: relative;
  //float: left;
  margin-top: 557px;

}

.first_div_image_div{
  @warn 'holaalalalal';
  position: absolute;
  top:0%;
  left:1%;
  margin-left: -1%;
  width: 100%;
  height: auto;
  z-index: -1;
  //background-color: yellowgreen;
  &:hover{
    $isHover:true;
  }
  .gradient{
    position: absolute;
    top: 1.9%;
    left: 0%;
    width: 100%;
    height: 1073px;
    background: linear-gradient(to top, #848b90, rgba(132, 139, 144, 0));
  }
  .images{
    max-width: 100%;
    height: auto;
  }

}

.first_left_arrow_div {
  //display: none;
  width: 3.5%;
  height: 11%;
  position: absolute;
  left: 0.9%;
  top: 453px;
  z-index: 30;
  background-image: url(../images/prev_icon.png);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  display: none;
}

.first_right_arrow_div {
  width: 3.5%;
  height: 11%;
  position: absolute;
  right: 0.9%;
  top: 453px;
  z-index: 30;
  background-image: url(../images/next_icon.png);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  display: none;
}



.first_a_div {
  height: 826px;
  width: 100%;
  margin-top: 692px;
  /*margin-bottom: 790px;*/
  margin-left: 414px;

  /*border: solid;*/
}

.first_a_collection_div {
  width: 23%;
  margin-top: -42.3%;
  margin-left: -6%;
  cursor: pointer;
}

.first_a_col_individual_div {
  height: 158px;
  text-align: center;
  vertical-align: middle;
  line-height: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;

}

.first_a_col_individual_text_cont_div {
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 45px;
  color: white;
  padding-left: 2%;
  padding-top: 18%;
}

.first_a_col_text_individual {

}

.first_a_image {
  height: 53%;
  width: 52%;
  position: relative;
  top: -16%;
  left: 17%;
  z-index: 10;
}

.first_a_image img {
  width: 100%;
  height: 100%;
}

.first_a_text_collection_div {
  width: 59%;
  height: 166px;
  border: medium;
  float: right;
  margin-right: 21.5%;
  margin-top: -13.4%;
}

.first_a_text_collection_individual_container_div {
  width: 26%;
  display: block;
  float: left;
}

.first_a_text_collection_individual_container_div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.first_a_text_collection_individual_container_div li {
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  font-weight: bold;
  color: red;
  padding: 4%;
}

.first_a_text_collection_individual_container_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  padding-top: 3%;
  padding-left: 7%;
}


.first_b_div1 {
  position: absolute;
  height: 339px;
  width: 527px;
  display: inline-block;
  z-index: 1;
  top: 1333px;
  left: 243px;
  img{
    width: 100%;
    height: 100%;
  }
}

/*negra paseando*/
.first_b_div2 {
  position: absolute;
  width: 567px;
  height: 377px;
  display: inline-block;
  z-index: 2;
  top: 1312px;
  left: 507px;
  img{
    width: 100%;
    height: 100%;
  }
}

/*chica con laptop*/
.first_b_div3 {
  position: absolute;
  width: 430px;
  height: 406px;
  display: inline-block;
  z-index: 3;
  top: 1397px;
  left: -11px;
  img{
    width: 100%;
    height: 100%;
  }
}

/*chica rubia*/
.first_b_div4 {
  position: absolute;
  width: 510px;
  height: 344px;
  display: inline-block;
  z-index: 4;
  top: 1370px;
  left: 900px;
  img{
    width: 100%;
    height: 100%;
  }

}

/*texto solo*/
.first_b_div5 {
  position: absolute;
  height: 283px;
  width: 302px;
  display: inline-block;
  z-index: 5;
  top: 1409px;
  left: 330px;
  background-color: #87888e;
  color: white;
  font-family: 'Raleway', sans-serif;

}

.first_b_div5_text_container_1 {
  font-size: 19px;
  margin-top: 6%;
  margin-left: 8%
}

.first_b_div5_text_container_2 {
  margin-top: 14%;
  margin-left: 7%;
  font-size: 30px;
}

.first_b_div5_text_container_3 {
  padding: 7%;
  padding-left: 8%;
  padding-top: 5%;
  line-height: 27px;
  font-size: 13px;
}

.first_c_div {
  width: inherit;
  height: 177px;
  /*background-color: aquamarine;*/
  float: left;
  position: absolute;
  top: 1810px;
  left:1%;
}

.first_c_div_individual {
  width: 29%;
  height: 71%;
  /*border: dotted;*/
  /* padding-right: 3%; */
  margin-right: 2.5%;
  padding-left: 1%;
  float: left;
}

.first_c_div_individual_right {
  width: 62%;
  height: 81%;
  float: left;
  margin-left: 2%;
  /*background-color: mediumpurple;*/
}

.first_c_div_individual_right_text {
  font-family: 'Open Sans', sans-serif;
  padding: 5%;
  font-size: 121%;
}

.first_c_div_individual_left {
  width: 19%;
  height: 100%;
  float: left;
  margin-left: 13%;
  /*background-color: blue;*/

}

.first_c_div_individual_month {
  width: 100%;
  height: 21%;
  background-color: red;

}

.first_c_div_individual_month_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 138%;
  font-weight: bold;
  color: white;
}

.first_c_div_individual_day {
  width: 100%;
  height: 67%;
  /*background: pink;*/
}

.first_c_div_individual_day_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 237%;
  font-weight: bold;
}
