@mixin respond-to($breakpointMob) {
  @if $breakpoint == "mobile" {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}
.mobile_page_div{
  width: 100%;
  height: 8712px;
  background-color: white;
  z-index: -2;
  position: sticky;
}