.mobile_first_div{
  width: 100%;
  height: 6%;

  /* float: left; */
  position: absolute;
  z-index: 3;
  top: 1.5%;
}
.mobile_first_arrow_container{
  width: 100%;
  height: 11%;

  margin-top: 15%;
}
.mobile_first_arrow_container_left{
  float: left;
  margin-left: 3%;
  margin-top: 1%;
  width: 13%;
  height: 87%;
}
.mobile_first_arrow_container_right{
  float: right;
  margin-right: 4%;
  margin-top: 1%;
  width: 13%;
  height: 87%;
}
.mobile_first_div_transparent{
  width: 78%;
  height: 27%;

  margin-left: 8%;
  margin-top: 10%;
}
.mobile_first_div_transparent_text{
  font-family: 'Raleway', sans-serif;
  font-size: 222%;
  font-weight: 100;
  color: white;
  letter-spacing: -2px;
  line-height: 40px;
  text-align: left;
}
.mobile_first_div_squares{
  width: 34%;
  height: 3%;
  margin-top: -0.6%;
  margin-left: 31%;

}
.mobile_first_div_squares_option{
  width: 21%;
  height: 9%;
  float: left;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 3%;
  background-color: white;
}
.mobile_first_div_red{
  background-color: #ff3333;
  width: 100%;
  height: 16.5%;
  margin-top: 2%;
  border-bottom: black;
  border-top: black;
}
.mobile_first_div_red_button{
  background-color: white;
  width: 56%;
  height: 45%;
  float: left;
  margin-left: 22%;
  margin-top: 6.2%;
}
.mobile_first_div_red_button_text{
  font-family: 'Open Sans', sans-serif;
  font-size: 96%;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 1px;
  padding-top: 5.3%;
  padding-left: 24%;
}