.mobile_5_div{
  width: 100%;
  height: 2800px;
  margin-top: -2%;
  float: left;
}
.mobile_5_div_block{
  width: 100%;
  height: 13.4%;
  display: block;
  float: left;
  img{
    width: 100%;
    height: 100%;
  }
}