.mobile_6_div{
  width: 100%;
  height: 852px;
  float: left;
  margin-top: 66%;
}
.mobile_6_div_image{
  background-image: url("../images/mobile_22.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  float: left;
}
.mobile_6_div_image_news{
  width: 77%;
  height: 20%;
  float: left;
  margin-top: 65%;
  margin-left: 8%;
}
.mobile_6_div_image_news_text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}
.mobile_6_div_info{
  background-color: #87888e;
  float: left;
  width: 100%;
  height: 28%;
}
.mobile_6_div_info_tittle{
  float: left;
  margin-top: 11%;
  margin-left: 8%;
  width: 55%;
  height: 15%;
}
.mobile_6_div_info_tittle_text{
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: white;
}
.mobile_6_div_info_menu{
  width: 100%;
  height: 38%;
  float: left;
  margin-left: 7%;
  margin-top: 3%;
}
.mobile_6_div_info_menu_item{
  background-color: white;
  float: left;
  margin-left: 2%;
  height: 29%;
  width: 42%;
  margin-top: 1%;
  margin-bottom: 4%;

}
.mobile_6_div_info_menu_item_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #87888e;
  padding: 4%;
}
.mobile_6_div_info_menu_singup{
  border-color: white;
  border-style: solid;
  width: 42%;
  height: 29%;
  float: left;
  margin-left: 2%;

}
.mobile_6_div_info_menu_singup_text{
  text-align: center;
  text-decoration-color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.mobile_6_div_call{
  float: left;
  width: 58%;
  height: 16%;
  margin-left: 7%;
}
.mobile_6_div_call_text{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 142%;
  padding-top: 2%;
}
.mobile_6_div_video{
  width: 100%;
  height: 32%;
}