@mixin logo-container($w:31%,$t:14%,$l:40%){
  width: $w;
  height: 24%;
  //background-color: aqua;
  //border: dotted;
  margin-top: $t;
  margin-left: $l;
  //width: 22%;
  //height: 21%;
  //margin-top: 14%;
  //margin-left: 39%;
}

.mobile_7_div{
  width: 100%;
  height: 2303px;
}
.mobile_7_div_white{
  width: 100%;
  height: 18%;
  float: left;
  margin-top: 12%;
}
.mobile_7_div_white_tittle{
  width: 86%;
  height: 19%;
  margin-top: 6%;
  margin-left: 7%;
}
.mobile_7_div_white_tittle_text{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 100;
  padding-top: 1%;
  letter-spacing: -0.4px;
}
.mobile_7_div_white_content{
  height: 69%;
  width: 88%;
  margin-left: 7.6%;
  margin-top: -1%;
}
.mobile_7_div_white_content_text{
  color: black;
  line-height: 171.7%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.18px;

}
.mobile_7_div_red{
  background-color: #ff3333;
  width: 100%;
  height: 14.3%;
  float: left;
  margin-top: -10%;
}
.mobile_7_div_red_tittle{
  width: 86%;
  height: 13%;
  margin-top: 5%;
  margin-left: 6%;
  //background-color: black;
}
.mobile_7_div_red_tittle_text{
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  padding-top: 3%;
  padding-left: 1%;
}
.mobile_7_div_red_content{
  width: 91%;
  height: 19%;
}
.mobile_7_div_red_content_text{
  font-family: 'Open Sans', sans-serif;
  font-size: 84%;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: white;
  padding-top: 4%;
  padding-left: 8%;
}
.mobile_7_div_gray{
  width: 100%;
  height: 28.3%;
  float: left;
  background-color: #bfbfbf;
  #m71{
    //@include logo-container();
    width: 22%;
    height: 21%;
    margin-top: 15%;
    margin-left: 39%;
  }
  #m72{
    //@include logo-container(57%,16%,23%);
    width: 54%;
    height: 22%;
    margin-top: 15%;
    margin-left: 23%;
  }
  #m73{
    //@include logo-container(38%,15%,32%);
    width: 38%;
    height: 22%;
    margin-top: 15%;
    margin-left: 31%;

  }
  .mobile_7_div_gray_item{
    //width: 31%;
    //height: 24%;
    //background-color: aqua;
    //border: dotted;
    //margin-top: 14%;
    //margin-left: 40%;

  }
}

.mobile_7_div_extra{
  width: 100%;
  height: 3%;
  float: left;
  background-color: #bfbfbf;
}
.mobile_7_div_black{
  width: 100%;
  height: 900px;
  float: left;
  background-color: #323339;
  .mobile_7_div_black_icons{
    //background-color: rebeccapurple;
    width: 100%;
    height: 23%;
    margin-top: -16%;
    margin-left: -1%;
    ul{
      list-style-type: none;
      padding-left: 24%;
      padding-top: 10%;
      li{
        width: 30%;
        height: 50%;
        /* background-color: yellow; */
        float: left;
        display: inline-block;
        color: white;
        margin-bottom: 21%;
        a{
          font-size: 42px;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
  .mobile_7_div_black_info{
    width: 100%;
    height: 41%;
    //background-color: yellowgreen;
    position: relative;
    margin-top: -10%;
    .mobile_7_div_black_info_content{
      margin-top: 7%;
      margin-left: 2%;
      p{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 104%;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 23px;
        /* padding-left: 27%; */
        text-align: center;

      }
    }
    .mobile_7_div_black_info_img{
      width: 41.5%;
      height: 21%;
      margin-left: 29.5%;
      margin-top: 1%;
      img{
        width: 100%;
        height: 100%;
      }

    }
    .mobile_7_div_black_info_content{
      p{

      }
    }
  }
  .mobile_7_div_black_menu{
    width: 84.5%;
    height: 27%;
    margin-top: 17%;
    margin-left: 8%;
    //background-color: rebeccapurple;
      ul{
        list-style-type: none;
        li{
          width: 100%;
          height: 45px;
          margin-bottom: 5%;
          background-color: #231f20;
          .mobile_7_div_black_menu_text{
            font-family: 'Raleway', sans-serif;
            font-size: 22px;
            font-weight: 100;
            color: white;
            text-align: center;
            padding-top: 3%;
            #m7b1{
              padding-top: 4%;
            }
          }
        }
      }
  }

}
