.second_div {
  width: 100%;
  height: 626px;
  margin-top: -524px;

}

.second_block_array_container_div {
  height: inherit;
  width: inherit;
  margin-top: 0px;
  margin-left: 0px;
  background-color: gray;
}

.second_array_individual_block {
  height: 50%;
  width: 25%;
  float: left;
}

.second_array_individual_block img {
  width: 100%;
  height: 100%;
}