* {
  margin: 0;
  padding: 0; }

.body_style {
  background-color: #848b90;
  max-width: 100%; }
  @media only screen and (min-width: 768px) {
    .body_style .mobile_page_div {
      display: none; } }
  @media only screen and (max-width: 425px) {
    .body_style .page_div {
      display: none; } }
  @media (min-width: 1500px) {
    .body_style .mobile_page_div {
      display: none; } }

img {
  max-width: 100%;
  height: auto; }

.page_div {
  width: 100%;
  height: 5549px;
  overflow-x: hidden; }

.mobile_page_div {
  width: 100%;
  height: 8712px;
  background-color: white;
  overflow-x: hidden;
  position: sticky; }
  .mobile_page_div img {
    max-width: 100%;
    height: 100%; }

.mobile_header_div {
  width: inherit;
  height: 1%;
  z-index: 4;
  position: absolute; }

.mobile_header_div_bar {
  width: 100%;
  height: 11%;
  background-color: red; }

.mobile_header_div_transparent {
  width: 100%;
  height: 79%;
  /*background-color: rgba(255,255,255,0.5);*/
  background-color: white;
  opacity: 0.5; }

.mobile_header_div_transparent_logo {
  width: 25%;
  height: 76%;
  float: left;
  margin-top: 2%;
  margin-left: 21%; }

/*img .mobile_header_div_transparent_logo{

}*/
.mobile_header_div_transparent_menu {
  width: 30%;
  height: 101%;
  background-color: white;
  float: left;
  margin-left: 24%; }

.mobile_header_div_transparent_menu_search {
  width: 34%;
  height: 62%;
  float: left;
  margin-top: 12%;
  margin-left: 9%; }

.mobile_header_div_transparent_menu_plus {
  width: 30%;
  height: 49%;
  float: left;
  margin-top: 13%;
  margin-left: 23%; }

.mobile_background_image {
  width: 100%;
  height: 6%;
  background-color: #323339;
  z-index: 1;
  position: absolute;
  left: 0; }

.mobile_header_div_menu {
  display: none;
  background-color: white;
  width: 100%;
  height: auto;
  position: absolute; }
  .mobile_header_div_menu ul {
    list-style-type: none;
    background-color: #eaeaea; }
    .mobile_header_div_menu ul li {
      margin-bottom: -1%; }
      .mobile_header_div_menu ul li .container {
        width: 100%;
        height: 42px; }
        .mobile_header_div_menu ul li .container .text {
          display: inline-block;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 15px;
          padding-left: 7%;
          padding-top: 5%; }
        .mobile_header_div_menu ul li .container .text-down {
          float: right;
          margin-right: 6%;
          font-size: 32px;
          color: red;
          font-weight: 600; }
      .mobile_header_div_menu ul li .list {
        display: none;
        width: 100%;
        height: auto; }
        .mobile_header_div_menu ul li .list ul {
          list-style-type: none; }
          .mobile_header_div_menu ul li .list ul li {
            width: 100%;
            height: 44px; }
            .mobile_header_div_menu ul li .list ul li a {
              font-family: 'Raleway', sans-serif;
              font-size: 11.2px;
              color: black;
              letter-spacing: 2px;
              float: left;
              margin-top: 4%;
              margin-left: 8.5%; }

.middle_div {
  position: relative;
  width: 100%;
  height: 377px; }
  .middle_div .left_arrow_div {
    width: 3.5%;
    height: 11%;
    position: absolute;
    left: 0.9%;
    top: 25%;
    z-index: 30;
    background-image: url(../images/prev_icon.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    display: none; }
  .middle_div .right_arrow_div {
    width: 3.5%;
    height: 11%;
    position: absolute;
    right: 1.7%;
    top: 25%;
    z-index: 30;
    background-image: url(../images/next_icon.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    display: none; }
  .middle_div .content {
    width: 30%;
    height: 69%;
    margin-top: 23%;
    margin-left: 8%; }
    .middle_div .content .tittle {
      width: 88%;
      height: 40%;
      float: left;
      margin-top: 2.6%;
      margin-left: 9.4%; }
      .middle_div .content .tittle .text {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        letter-spacing: 1.5px;
        text-decoration-style: solid;
        font-size: 2.7em;
        line-height: 48px; }
    .middle_div .content .ley {
      float: left;
      width: 80%;
      height: 24%;
      margin-left: 9%;
      margin-top: 3%; }
      .middle_div .content .ley p {
        text-align: left;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        letter-spacing: 0.7px;
        line-height: 22px;
        padding-top: 2%; }
        .middle_div .content .ley p a {
          color: white;
          text-decoration-line: underline; }
    .middle_div .content .bars {
      width: 65%;
      height: 21%;
      float: left;
      margin-left: 9%;
      margin-top: 1%; }
      .middle_div .content .bars .ibar {
        background-color: #9a9ba0;
        width: 16%;
        height: 6%;
        float: left;
        margin-top: 8.1%;
        margin-left: 1%;
        margin-right: 5%; }

.mobile_first_div {
  width: 100%;
  height: 6%;
  /* float: left; */
  position: absolute;
  z-index: 3;
  top: 1.5%; }

.mobile_first_arrow_container {
  width: 100%;
  height: 11%;
  margin-top: 22%; }

.mobile_first_arrow_container_left {
  float: left;
  margin-left: 3%;
  margin-top: 1%; }

.mobile_first_arrow_container_right {
  float: right;
  margin-right: 1%;
  margin-top: 1%; }

.mobile_first_div_transparent {
  width: 78%;
  height: 27%;
  margin-left: 9%;
  margin-top: 12%; }

.mobile_first_div_transparent_text {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: white;
  letter-spacing: normal;
  line-height: 42px;
  text-align: left; }

.mobile_first_div_squares {
  width: 34%;
  height: 3%;
  margin-top: 5%;
  margin-left: 32%; }

.mobile_first_div_squares_option {
  width: 24%;
  height: 9%;
  float: left;
  margin-top: 5%;
  margin-left: 8%;
  background-color: white; }

.mobile_first_div_red {
  background-color: #ff3333;
  width: 100%;
  height: 19%;
  margin-top: 3%; }

.mobile_first_div_red_button {
  background-color: white;
  width: 58%;
  height: 44%;
  float: left;
  margin-left: 23%;
  margin-top: 6%; }

.mobile_first_div_red_button_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 1px;
  padding-top: 5.3%;
  padding-left: 24%; }

.mobile_2_div {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 146%;
  background-color: pink; }

.mobile_2_div_op {
  width: 100%;
  height: auto;
  background-color: gray; }
  .mobile_2_div_op .button_op {
    height: 99px; }
    .mobile_2_div_op .button_op .mobile_2_div_op_text {
      font-family: 'Raleway', sans-serif;
      font-size: 28px;
      font-weight: 100;
      color: white;
      line-height: 30px;
      padding-top: 8%;
      padding-left: 0%;
      margin-right: 4%;
      text-align: center; }
    .mobile_2_div_op .button_op .mobile_2_div_op_arrow {
      color: white;
      float: right;
      margin-right: 3%;
      margin-top: -6%;
      font-size: 257%;
      font-weight: 900; }
  .mobile_2_div_op .content {
    display: none; }
    .mobile_2_div_op .content .content_description {
      background-color: white;
      width: 100%;
      height: 649px; }
      .mobile_2_div_op .content .content_description .description_top {
        height: 57%; }
        .mobile_2_div_op .content .content_description .description_top .description_top_tittle {
          float: left;
          margin-top: 12%;
          margin-left: 7%; }
          .mobile_2_div_op .content .content_description .description_top .description_top_tittle .description_top_tittle_text {
            color: #3a4d69;
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            font-weight: 100;
            line-height: 30px; }
        .mobile_2_div_op .content .content_description .description_top .description_top_ley {
          float: left; }
          .mobile_2_div_op .content .content_description .description_top .description_top_ley ul {
            list-style-type: none;
            list-style-position: outside;
            margin-top: 9%;
            margin-left: 13%;
            width: 144%; }
            .mobile_2_div_op .content .content_description .description_top .description_top_ley ul li {
              text-align: left;
              height: 23px;
              width: 103%;
              margin-bottom: 6.5%; }
              .mobile_2_div_op .content .content_description .description_top .description_top_ley ul li a {
                color: #ff3333;
                font-family: 'Open Sans', sans-serif;
                font-size: 17px;
                line-height: 20px;
                text-decoration-style: solid; }
      .mobile_2_div_op .content .content_description .description_down {
        float: left;
        height: 42%; }
        .mobile_2_div_op .content .content_description .description_down .description_down_tittle {
          margin-left: 8%; }
          .mobile_2_div_op .content .content_description .description_down .description_down_tittle .description_down_tittle_text {
            color: #3a4d69;
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            font-weight: 100;
            line-height: 30px; }
        .mobile_2_div_op .content .content_description .description_down .description_down_ley {
          margin-top: 5%;
          margin-left: 8%; }
          .mobile_2_div_op .content .content_description .description_down .description_down_ley p {
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.7px;
            line-height: 28.9px;
            color: #95a5ac; }
            .mobile_2_div_op .content .content_description .description_down .description_down_ley p a {
              color: #ff3333; }
    .mobile_2_div_op .content .content_image {
      height: 203px; }
      .mobile_2_div_op .content .content_image img {
        width: 100%;
        height: 100%; }

.mobile_3_div {
  width: 100%;
  height: 1443px;
  float: left; }

.mobile_3_div_tittle {
  width: 90%;
  height: 4%;
  float: left;
  margin-left: 9%;
  margin-top: 20%; }

.mobile_3_div_tittle_left {
  float: left;
  display: inline-block;
  width: 62%;
  height: 59%;
  margin-top: 3%; }

.mobile_3_div_tittle_left_text {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: normal;
  line-height: 30px;
  color: #444a5a; }

.mobile_3_div_tittle_right {
  width: 15%;
  height: 34%;
  float: left;
  display: inline-block;
  margin-left: 23%;
  margin-top: 6%; }

.mobile_3_div_tittle_right_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-decoration-color: #595959;
  text-decoration-style: solid; }

.mobile_3_div_news {
  width: 89.5%;
  height: 66%;
  float: left;
  margin-top: 6%;
  margin-left: 7%;
  background-color: #87888e; }

.mobile_3_div_news_image {
  width: 100%;
  height: 40%; }

.mobile_3_div_news_content {
  width: 100%;
  height: 19.5%; }

.mobile_3_div_news_content_tittle {
  width: 70%;
  height: 19%;
  float: left;
  margin-top: 6%;
  margin-left: 9%; }

.mobile_3_div_news_content_tittle_text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-decoration-style: solid; }

.mobile_3_div_news_content_text {
  display: inline-block;
  width: 87%;
  height: 64%;
  float: left;
  margin-left: 8%; }

.mobile_3_div_news_content_text_text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 20px; }

.mobile_3_div_news_info_image1 {
  width: 100%;
  height: 40%;
  background-image: url("../images/mobile_21.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  margin-top: 12%; }

.mobile_3_div_news_info_image2 {
  width: 100%;
  height: 40%;
  background-image: url("../images/mobile_22.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  margin-top: 12%; }

.mobile_3_div_news_info_image_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  padding-top: 89%;
  padding-left: 7%; }

.mobile_4_div {
  width: 100%;
  height: 360px;
  float: left;
  margin-top: 17%; }

.mobile_4_div_collection {
  float: left;
  margin-top: 8%;
  width: 100%;
  height: 308px; }

.mobile_4_div_collection ul {
  list-style-type: none;
  padding: 0;
  margin-top: -1%; }

.mobile_4_div_collection li {
  width: 63%;
  height: 73%;
  padding: 10%;
  margin-bottom: 3%; }

.mobile_4_div_collection_date {
  display: inline-block;
  float: left;
  width: 23%;
  margin-left: -2%; }

.mobile_4_div_collection_date_month {
  background-color: #ff3333; }

.mobile_4_div_collection_date_month_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white; }

.mobile_4_div_collection_date_day_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center; }

.mobile_4_div_collection_description {
  display: inline-block;
  float: left;
  width: 70%;
  margin-left: 7%; }

.mobile_4_div_collection_description_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration-style: solid;
  color: black;
  padding: 1%; }

.mobile_5_div {
  width: 100%;
  height: 2800px;
  margin-top: 32%;
  float: left; }

.mobile_5_div_block {
  width: 100%;
  height: 16%;
  display: block;
  float: left; }

.mobile_6_div {
  width: 100%;
  height: 852px;
  float: left;
  margin-top: 66%; }

.mobile_6_div_image {
  background-image: url("../images/mobile_22.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  float: left; }

.mobile_6_div_image_news {
  width: 77%;
  height: 20%;
  float: left;
  margin-top: 65%;
  margin-left: 8%; }

.mobile_6_div_image_news_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white; }

.mobile_6_div_info {
  background-color: #87888e;
  float: left;
  width: 100%;
  height: 28%; }

.mobile_6_div_info_tittle {
  float: left;
  margin-top: 11%;
  margin-left: 8%;
  width: 55%;
  height: 15%; }

.mobile_6_div_info_tittle_text {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: white; }

.mobile_6_div_info_menu {
  width: 100%;
  height: 38%;
  float: left;
  margin-left: 7%;
  margin-top: 3%; }

.mobile_6_div_info_menu_item {
  background-color: white;
  float: left;
  margin-left: 2%;
  height: 29%;
  width: 42%;
  margin-top: 1%;
  margin-bottom: 4%; }

.mobile_6_div_info_menu_item_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #87888e;
  padding: 4%; }

.mobile_6_div_info_menu_singup {
  border-color: white;
  border-style: solid;
  width: 42%;
  height: 29%;
  float: left;
  margin-left: 2%; }

.mobile_6_div_info_menu_singup_text {
  text-align: center;
  text-decoration-color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

.mobile_6_div_call {
  float: left;
  width: 58%;
  height: 16%;
  margin-left: 7%; }

.mobile_6_div_call_text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 142%;
  padding-top: 2%; }

.mobile_6_div_video {
  width: 100%;
  height: 32%; }

.mobile_7_div {
  width: 100%;
  height: 2303px; }

.mobile_7_div_white {
  width: 100%;
  height: 18%;
  float: left;
  margin-top: 20%; }

.mobile_7_div_white_tittle {
  width: 86%;
  height: 19%;
  margin-top: 6%;
  margin-left: 7%; }

.mobile_7_div_white_tittle_text {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 29px;
  font-weight: 100; }

.mobile_7_div_white_content {
  height: 69%;
  width: 88%;
  margin-left: 8%;
  margin-top: 2%; }

.mobile_7_div_white_content_text {
  color: black;
  line-height: 25px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif; }

.mobile_7_div_red {
  background-color: #ff3333;
  width: 100%;
  height: 17%;
  float: left;
  margin-top: 23px; }

.mobile_7_div_red_tittle {
  width: 86%;
  height: 13%;
  margin-top: 6%;
  margin-left: 7%; }

.mobile_7_div_red_tittle_text {
  font-family: 'Raleway',sans-serif;
  font-size: 27px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  padding-top: 3%;
  padding-left: 1%; }

.mobile_7_div_red_content {
  width: 86%;
  height: 19%; }

.mobile_7_div_red_content_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
  color: white;
  padding-top: 3%;
  padding-left: 8%; }

.mobile_7_div_gray {
  width: 100%;
  height: 30%;
  float: left;
  background-color: #bfbfbf; }
  .mobile_7_div_gray #m71 {
    width: 31%;
    height: 24%;
    margin-top: 14%;
    margin-left: 40%; }
  .mobile_7_div_gray #m72 {
    width: 57%;
    height: 24%;
    margin-top: 16%;
    margin-left: 23%; }
  .mobile_7_div_gray #m73 {
    width: 38%;
    height: 24%;
    margin-top: 15%;
    margin-left: 32%; }

.mobile_7_div_extra {
  width: 100%;
  height: 3%;
  float: left;
  background-color: #bfbfbf; }

.mobile_7_div_black {
  width: 100%;
  height: 900px;
  float: left;
  background-color: #323339; }
  .mobile_7_div_black .mobile_7_div_black_icons {
    width: 100%;
    height: 23%; }
    .mobile_7_div_black .mobile_7_div_black_icons ul {
      list-style-type: none;
      padding-left: 24%;
      padding-top: 10%; }
      .mobile_7_div_black .mobile_7_div_black_icons ul li {
        width: 32.3%;
        height: 50%;
        /* background-color: yellow; */
        float: left;
        display: inline-block;
        color: white;
        margin-bottom: 21%; }
        .mobile_7_div_black .mobile_7_div_black_icons ul li a {
          font-size: 42px;
          color: white;
          text-decoration: none;
          display: block; }
  .mobile_7_div_black .mobile_7_div_black_info {
    width: 100%;
    height: 41%;
    position: relative; }
    .mobile_7_div_black .mobile_7_div_black_info .mobile_7_div_black_info_content {
      margin-top: 8%;
      margin-left: 4%; }
      .mobile_7_div_black .mobile_7_div_black_info .mobile_7_div_black_info_content p {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 1%; }
    .mobile_7_div_black .mobile_7_div_black_info .mobile_7_div_black_info_img {
      width: 44%;
      height: 24%;
      margin-left: 30%;
      margin-top: 1%; }
      .mobile_7_div_black .mobile_7_div_black_info .mobile_7_div_black_info_img img {
        width: 100%;
        height: 100%; }
  .mobile_7_div_black .mobile_7_div_black_menu {
    width: 88%;
    height: 27%;
    margin-top: 17%;
    margin-left: 8%; }
    .mobile_7_div_black .mobile_7_div_black_menu ul {
      list-style-type: none; }
      .mobile_7_div_black .mobile_7_div_black_menu ul li {
        width: 100%;
        height: 54px;
        margin-bottom: 5%;
        background-color: #231f20; }
        .mobile_7_div_black .mobile_7_div_black_menu ul li .mobile_7_div_black_menu_text {
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: 100;
          color: white;
          text-align: center;
          padding-top: 3%; }
          .mobile_7_div_black .mobile_7_div_black_menu ul li .mobile_7_div_black_menu_text #m7b1 {
            padding-top: 4%; }

.header_div {
  width: inherit;
  height: 106px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  z-index: 50; }
  .header_div .header_logo_div {
    position: relative;
    left: 3%;
    top: 11%;
    z-index: 10;
    height: 79%;
    width: 11%; }
    .header_div .header_logo_div .header_logo_div_img {
      max-width: 100%;
      height: auto; }
  .header_div .header_menu_div {
    height: 100%;
    width: 73%;
    position: relative;
    left: 27.4%;
    top: -79%; }
    .header_div .header_menu_div .header_menu_bar_div {
      height: 50%;
      width: inherit; }
      .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul {
        list-style-type: none;
        background-color: #f23522;
        opacity: 1;
        height: 90%;
        width: 139%; }
        .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_var_li {
          float: left;
          display: block;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding-top: 0%;
          padding-left: 2.5%;
          padding-right: 0.3%;
          width: auto;
          height: 95%;
          padding-right: 2%;
          margin-right: 0%;
          padding-right: 2%; }
          .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_var_li:hover {
            background-color: #EC2B2B; }
          .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_var_li .red_nav_var_li_text {
            font-family: 'Raleway',sans-serif;
            font-size: 0.8em;
            font-weight: 600;
            padding-left: 11px;
            letter-spacing: 2px;
            margin-top: 16px;
            margin-left: 2px; }
        .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_li_cont_lupa {
          float: left;
          display: block;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding-top: 0%;
          padding-left: 2.5%;
          padding-right: 0.3%;
          width: auto;
          height: 95%;
          padding-right: 2%;
          margin-right: 0%;
          padding-right: 2%;
          padding: 0; }
          .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_li_cont_lupa:hover {
            background-color: #EC2B2B; }
          .header_div .header_menu_div .header_menu_bar_div .red_nav_bar_ul .red_nav_li_cont_lupa .red_nav_var_li_move_lupa {
            padding-top: 14px;
            padding-left: 13px; }
      .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul {
        list-style-type: none;
        width: 137%;
        height: 91%; }
        .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li {
          float: left;
          display: block;
          text-align: center;
          text-decoration: none;
          padding-left: 2%;
          padding-top: 1.5%;
          letter-spacing: 1px;
          padding-right: 3%;
          /* background-color: aquamarine; */
          margin-right: 1px; }
          .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li:hover {
            background-color: white; }
          .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .helper_li {
            width: 100%;
            height: 29px;
            margin-left: -5%; }
          .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .white_nav_bar_li_hide {
            display: none;
            width: 24%;
            height: auto;
            background-color: white;
            position: absolute;
            float: left;
            margin-top: 0%;
            margin-left: -2%;
            z-index: 1; }
            .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .white_nav_bar_li_hide a {
              text-decoration: none;
              width: 100%;
              height: 0%;
              float: left;
              padding: 1%;
              display: block; }
              .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .white_nav_bar_li_hide a:hover {
                background-color: #eaeaea; }
              .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .white_nav_bar_li_hide a .white_nav_bar_li_hide_text {
                font-family: 'Raleway',sans-serif;
                font-weight: 600;
                font-size: 0.6em;
                padding-top: 6%;
                padding-left: 6%;
                padding-bottom: 4%;
                text-align: left;
                color: black;
                letter-spacing: 2px; }
          .header_div .header_menu_div .header_menu_bar_div .white_nav_bar_ul .white_nav_bar_li .white_nav_bar_li_text {
            color: black;
            font-family: 'Raleway',sans-serif;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase !important;
            letter-spacing: 2px !important;
            line-height: 14px !important; }

.galeria {
  position: absolute;
  width: 100%;
  height: 1235px;
  z-index: -1;
  overflow-y: hidden; }

.first_div {
  position: relative;
  width: inherit;
  height: 1563px; }

.first_div_image_div {
  position: absolute;
  top: 0%;
  left: 1%;
  margin-left: -1%;
  width: 100%;
  height: auto;
  z-index: -1; }
  .first_div_image_div .gradient {
    position: absolute;
    top: 1.9%;
    left: 0%;
    width: 100%;
    height: 1129px;
    background: linear-gradient(to top, black, rgba(132, 139, 144, 0)); }
  .first_div_image_div .images {
    max-width: 100%;
    height: auto; }

.first_left_arrow_div {
  width: 3.5%;
  height: 11%;
  position: absolute;
  left: 0.9%;
  top: 453px;
  z-index: 30;
  background-image: url(../images/prev_icon.png);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  display: none; }

.first_right_arrow_div {
  width: 3.5%;
  height: 11%;
  position: absolute;
  right: 0.9%;
  top: 453px;
  z-index: 30;
  background-image: url(../images/next_icon.png);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  display: none; }

.first_a_div {
  position: relative;
  height: 774px;
  width: 74.5762711864%;
  margin-left: 26.5%;
  overflow: hidden; }

.first_a_collection_div {
  position: relative;
  background-color: #3a4d69;
  width: 30.5%;
  cursor: pointer; }

.first_a_col_individual_div {
  height: 194px;
  text-align: center;
  vertical-align: middle;
  line-height: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

#col3 .first_a_col_individual_text_cont_div {
  padding-top: 15%;
  padding-left: 15%;
  float: left;
  line-height: 1.1em; }

.first_a_col_individual_text_cont_div {
  font-size: 2.3rem;
  letter-spacing: -1px;
  line-height: 45px;
  color: white;
  padding-left: 2%;
  padding-top: 20%; }

.first_a_image {
  display: inline-block;
  height: 69%;
  width: 69%;
  position: absolute;
  top: -5%;
  left: 30.4%;
  z-index: 10;
  float: right; }

.first_a_image img {
  width: 100%;
  height: 100%; }

.first_a_text_collection_div {
  width: 59%;
  height: 166px;
  border: medium;
  float: right;
  margin-right: 21.5%;
  margin-top: -13.4%; }

.first_a_text_collection_individual_container_div {
  width: 26%;
  display: block;
  float: left; }

.first_a_text_collection_individual_container_div ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.first_a_text_collection_individual_container_div li {
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  font-weight: bold;
  color: red;
  padding: 4%; }

.first_a_text_collection_individual_container_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  padding-top: 3%;
  padding-left: 7%; }

.first_b_div1 {
  position: absolute;
  height: 339px;
  width: 527px;
  display: inline-block;
  z-index: 1;
  top: 1333px;
  left: 243px; }
  .first_b_div1 img {
    width: 100%;
    height: 100%; }

/*negra paseando*/
.first_b_div2 {
  position: absolute;
  width: 567px;
  height: 377px;
  display: inline-block;
  z-index: 2;
  top: 1312px;
  left: 507px; }
  .first_b_div2 img {
    width: 100%;
    height: 100%; }

/*chica con laptop*/
.first_b_div3 {
  position: absolute;
  width: 430px;
  height: 406px;
  display: inline-block;
  z-index: 3;
  top: 1397px;
  left: -11px; }
  .first_b_div3 img {
    width: 100%;
    height: 100%; }

/*chica rubia*/
.first_b_div4 {
  position: absolute;
  width: 510px;
  height: 344px;
  display: inline-block;
  z-index: 4;
  top: 1370px;
  left: 900px; }
  .first_b_div4 img {
    width: 100%;
    height: 100%; }

/*texto solo*/
.first_b_div5 {
  position: absolute;
  height: 283px;
  width: 302px;
  display: inline-block;
  z-index: 5;
  top: 1409px;
  left: 330px;
  background-color: #87888e;
  color: white;
  font-family: 'Raleway', sans-serif; }

.first_b_div5_text_container_1 {
  font-size: 19px;
  margin-top: 6%;
  margin-left: 8%; }

.first_b_div5_text_container_2 {
  margin-top: 14%;
  margin-left: 7%;
  font-size: 30px; }

.first_b_div5_text_container_3 {
  padding: 7%;
  padding-left: 8%;
  padding-top: 5%;
  line-height: 27px;
  font-size: 13px; }

.first_c_div {
  width: inherit;
  height: 177px;
  /*background-color: aquamarine;*/
  float: left;
  position: absolute;
  top: 1810px;
  left: 1%; }

.first_c_div_individual {
  width: 29%;
  height: 71%;
  /*border: dotted;*/
  /* padding-right: 3%; */
  margin-right: 2.5%;
  padding-left: 1%;
  float: left; }

.first_c_div_individual_right {
  width: 62%;
  height: 81%;
  float: left;
  margin-left: 2%;
  /*background-color: mediumpurple;*/ }

.first_c_div_individual_right_text {
  font-family: 'Open Sans', sans-serif;
  padding: 5%;
  font-size: 121%; }

.first_c_div_individual_left {
  width: 19%;
  height: 100%;
  float: left;
  margin-left: 13%;
  /*background-color: blue;*/ }

.first_c_div_individual_month {
  width: 100%;
  height: 21%;
  background-color: red; }

.first_c_div_individual_month_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 138%;
  font-weight: bold;
  color: white; }

.first_c_div_individual_day {
  width: 100%;
  height: 67%;
  /*background: pink;*/ }

.first_c_div_individual_day_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 237%;
  font-weight: bold; }

.second_div {
  width: 100%;
  height: 626px;
  margin-top: -524px; }

.second_block_array_container_div {
  height: inherit;
  width: inherit;
  margin-top: 0px;
  margin-left: 0px;
  background-color: gray; }

.second_array_individual_block {
  height: 50%;
  width: 25%;
  float: left; }

.second_array_individual_block img {
  width: 100%;
  height: 100%; }

.third_div {
  width: inherit;
  height: 1272px;
  background: white;
  background-image: url("../images/third_image_back.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1; }

.third_div img {
  width: 100%;
  z-index: -1; }

.third_info_div {
  width: 1388px;
  height: 218px;
  background-color: #87888e;
  margin-left: 13%;
  margin-top: 0px;
  z-index: 2;
  color: white; }

.third_info_div_tittle {
  font-family: 'Raleway', sans-serif;
  float: left;
  width: 32%;
  height: 42%; }

.third_info_div_tittle_text {
  padding: 10%;
  padding-top: 12%;
  font-size: 170%;
  font-weight: bold; }

.third_info_div_data {
  font-family: 'Montserrat', sans-serif;
  color: #87888e;
  /* left: 2%; */
  position: absolute;
  margin-left: 2.5%;
  margin-top: 8.5%;
  width: 55%;
  height: 14%; }

.third_info_div_data_name {
  float: left;
  margin-left: 1%;
  width: 18%;
  height: 18%;
  padding: 2%;
  margin-right: 1%;
  background-color: white; }

.third_info_div_data_phone {
  float: left;
  width: 19.5%;
  height: 18px;
  padding: 2%;
  margin-right: 1%;
  background-color: white; }

.third_info_div_data_email {
  float: left;
  width: 29%;
  height: 18px;
  padding: 2%;
  background-color: white; }

.third_info_div_data_singup {
  float: left;
  padding: 2%;
  height: 18px;
  width: 13%;
  margin-left: 1%;
  background-color: white; }

.third_info_div_phone {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  margin-top: 6%;
  margin-left: 59%;
  width: 32%;
  height: 10%;
  font-size: 153%;
  padding: 1%; }

.third_red_div {
  width: 28%;
  height: 687px;
  background: red;
  z-index: 2;
  margin-top: 367px;
  color: white; }

.third_red_div_tittle {
  position: relative;
  top: 7%;
  padding: 9%; }

.third_red_div_tittle_text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 175%;
  line-height: 2.5rem; }

.third_red_div_description {
  position: relative;
  top: 4%;
  left: 10%;
  height: 48%;
  width: 80%; }

.third_red_div_description_text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 13px;
  color: white;
  letter-spacing: 0.7px;
  box-sizing: border-box; }

.third_video_div {
  height: 643px;
  width: 62%;
  background-image: url(../images/video_img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  top: -685px;
  left: 28%; }
  .third_video_div iframe {
    width: 100%;
    height: 72%;
    display: none; }

.third_transparent_div {
  height: 258px;
  width: 913px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2;
  bottom: 865px;
  /* top: 24px; */
  left: 31%; }

.third_transparent_div_tittle_text {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 174%;
  line-height: 2.5rem;
  color: #444a5a; }

.third_transparent_div_content_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 42px; }

.bottom_div {
  width: auto;
  height: 774px;
  background-color: #323339; }

.bottom_transparent_div {
  height: 256px;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.5); }

.bottom_img_container_transparent_div {
  display: block;
  width: 22.67%;
  float: left;
  margin-top: 5.1%;
  margin-left: 11.3%;
  margin-right: -7.7%;
  text-align: center;
  /*border:dotted;*/ }

.bottom_img_container_transparent_div img {
  max-width: 100%;
  height: auto; }

.bottom_info_div {
  height: 456px;
  width: inherit;
  /*background-color: red;*/ }

.bottom_info_left_div {
  width: 818px;
  height: 330px;
  float: left;
  margin-left: 6%;
  margin-top: 5%;
  /*background-color: darkred;*/ }

.bottom_info_left_border_div {
  width: 98%;
  height: 0.5%;
  margin-left: 2%;
  background-color: white; }

.bottom_info_left_text_div {
  width: inherit;
  height: 65%;
  /*background-color: blue;*/ }

.bottom_info_left_title_text_block_div {
  display: block;
  float: left;
  margin-top: 1.5%;
  margin-left: 2%;
  color: red; }

.bottom_info_left_text_block_div {
  width: 25%;
  height: auto;
  float: left;
  color: white; }

.bottom_info_left_list_container_div {
  float: left;
  margin-top: -0.5%;
  margin-left: 2%; }

.bottom_info_left_list_container_div ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.bottom_info_left_list_container_div li {
  padding-top: 10%;
  margin-left: -5%;
  padding-left: 9%;
  color: white; }

.bottom_info_left_list_container_tittle {
  color: red; }

.bottom_info_left_icon_div {
  width: 52%;
  height: 18%;
  float: left;
  margin-left: 25%;
  margin-top: 6.5%;
  /* background-color: blueviolet;*/ }

.bottom_info_left_icon_div img {
  max-width: 100%;
  height: 100%; }

.bottom_info_right_div {
  width: 24%;
  height: 74%;
  float: left;
  margin-left: 4%;
  margin-top: 5%;
  /*background-color: rebeccapurple;*/ }

.bottom_info_right_img_container_div {
  height: 43%;
  width: 73%;
  float: left;
  margin-left: 3%;
  margin-top: 5%;
  /*background-color: aqua;*/ }

.bottom_info_right_img_container_div img {
  max-width: 100%;
  height: auto; }

.bottom_info_right_text_div {
  width: 100%;
  height: auto; }

.bottom_info_right_text_div p {
  width: inherit;
  float: left;
  margin-top: 10%;
  margin-bottom: -6%;
  color: white; }

/*# sourceMappingURL=input.css.map */
